@import "tailwindcss";

/* Color Role	Color Code	Usage
🔴 Primary Red	#E52323	Call-to-action buttons, highlights, phone numbers, key accents
⚫ Deep Black	#111111	Backgrounds, main headers, nav bar, footers
⚪ Pure White	#FFFFFF	Main text background, contrast areas, clean space
🔘 Light Gray	#F2F2F2	Secondary backgrounds, cards, pricing boxes
🔲 Dark Gray	#333333	Subtitles, secondary text
🔺 Accent Red Dark	#B30000	Hover effects, button presses */

html,
body {
  background-color: #fff;
  background-image: radial-gradient(
      circle at 1px 1px,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 0
    ),
    radial-gradient(
      circle at 16px 8px,
      rgba(195, 95, 95, 0.05) 1px,
      transparent 0
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.02), rgba(255, 0, 0, 0.01));
  background-size: 49px 100px;
  background-position: 0 0, 16px 14px, 0 0;
}
