@import "tailwindcss";

.image {
  mask-image: linear-gradient(black 60%, transparent);
}

.benefits-section {
  background-image: url("/benefits/bgbenefits.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

/* .carwash-section {
  background-image: url("/carwash/carwashbg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
