---
import NavbarToggle from "./NavbarToggle.astro";

const navbarOptions = [{},{}]
---

<nav class="navbar bg-white shadow sticky">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-outline lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 " fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-md dropdown-content bg-base rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li class="shadow"><a class="">CONTACT US</a></li>
        <li><a>GET A QUOTE</a></li>
      </ul>
    </div>
    <h3 class="text-xl font-bold px-4 py-2">TintBiz</h3>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 ">
      <li><a class="">CONTACT US</a></li>
      <li><a class="">GET A QUOTE</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <NavbarToggle />
  </div>  
</nav>