---
// Imports, TS, Code, etc
---

<!-- <div id="container">
  <model-viewer
  src="/mercedes_g_wagon/scene.gltf"
  alt="Un modelo 3D"
  auto-rotate
  camera-controls
  ar
  style="width: 600px; height: 400px;">
</model-viewer>

</div> -->
